<div class='container'>
	<div class='row'>
		<div class='col-md-6'>

			<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
				<div id="legend">
					<legend class="">Register</legend>
				</div>

			<%= f.error_notification %>

			<div class="form-inputs">
				<%= f.input :email, required: true, autofocus: true %>
				<%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
				<%= f.input :password_confirmation, required: true %>
			</div>

			<div class="form-actions">
				<%= f.button :submit, "Sign up" %>
			</div>
		<% end %>

		</div>
	</div>
</div>

<%= render "devise/shared/links" %>
