<div class="span2">
	<button class="btn-mini btn-info" onClick="appendForm(<%=task1.id%>, this)">+ Subtask</button>
</div>
<div class="span2">
	<%=button_to 'Edit', edit_task_path(task1), :method => :get, :class=>"btn-mini btn-info"%>
</div>
<div class="spam2">
	<button class="btn-mini btn-danger" onClick="destroyTask(<%=task1.id%>, this)">Delete</button>
</div>
