<% subtasks.each do |subtask| %>
	<li>
		<div class="row" style="border: solid 1px white;">
			<div class="span4">
				<a class='subnavtab' data-toggle="tab"><%= subtask.name %></a>
			</div>
			<div class="span5">
				<%= check_box_tag("finished", subtask.finished?, subtask.finished?, onclick: "subtaskDone(#{subtask.id}, #{subtask.finished?})")%> Finished
			</div>
		</div>
	</li>
<% end %>
