<div class="row" style="border: solid 1px white;">
	<div class="span3">
		<a data-toggle="<%=toggle(task.subtasks.blank?)%>" href="#<%=task.id%>"> <%= task.name %> </a>
	</div>
	<div class="span3">
		Ceated by: <b><%= task.user.email %></b>
	</div>
	<div class="span1">
		<label class="checkbox">
			<%= check_box_tag("finished", task.finished?, task.finished?, onclick: "taskDone(#{task.id}, #{task.finished?})")%> Finished
		</label>
	</div>
	<%if task.user.id == current_user.id%>
		<%= render partial: "options", locals: {task1: task}%>
	<%end%>
</div>
<% unless task.subtasks.blank? %>
	<ul class='nav nav-tabs nav-stacked collapse in' id="<%=task.id%>">
		<%= render partial: "subtasks", locals: {subtasks: task.subtasks, task_id: task.id} %>
	</ul>
<% end %>
