<div class='container'>
	<div class='row'>
		<div class='col-md-6'>
			<%= simple_form_for @task do |f| %>
				<% f.error_notification %>
				<div class="form-inputs">
					<%= f.input :name, required: true, autofocus: true %>
					<%= f.input :description %>
					<%= f.input :public %>
				</div>

				<div class="form-actions">
					<%= f.button :submit, "Save" %>
				</div>
			<%end%>
		</div>
	</div>
</div>
