<div class='container'>
	<div class="side-nav-container affix-top">
		<% unless @tasks.blank? %>
			<ul class='nav nav-tabs nav-stacked'>
				<% @tasks.each do |task| %>
					<li>
						<%= render partial: "tasks", locals: {task: task} %>
					</li>
				<% end %>
			</ul>
		<% end %>
	</div>
</div>
<script>
$(document).ready(function() {
	$('.collapse.in').collapse('hide');
});
</script>
