<div id="<%=task_id%>" class="collapse in">
<ul class='nav nav-tabs nav-stacked'>
	<% subtasks.each do |subtask| %>
		<li style="white-space: nowrap;">
			<a class='subnavtab' data-toggle="tab"><%= subtask.name %></a>
		</li>
	<% end %>
</ul>
</div>
