<div class="wraper">
<div class="side-nav-container affix-top">
	<ul class='nav nav-tabs nav-stacked'>
		<% tasks.each do |task| %>
			<li>
				<% unless task.subtasks.blank? %>
					<a data-toggle="collapse" href="#<%=task.id%>"><%= task.name %></a>
					<% unless task.subtasks.blank? %>
						<%= render partial: "subtasks", locals: {subtasks: task.subtasks, task_id: task.id} %>
					<% end %>
				<%else%>
				<a data-toggle="tab" href="#<%=task.id%>"><%= task.name %></a>
				<%end%>
			</li>
		<% end %>
	</ul>
</div>
</div>
