<% if user_signed_in? %>
	<div class="container">
		<div class="hero-unit span10 pagination-centered">
			<h1>Hello, <%= current_user.email %> </h1>
			<p>This is your personal To-Do List.</p>
			<p><a href="tasks/new" class="btn btn-primary btn-large">New Task</a></p>
		</div>
	</div>
	<br>
		<% if @my_todo_list.blank? %>
			<p>You have nothing to do.</p>
		<% else %>
			<%= render partial: "tasks",  locals: {tasks: @my_todo_list}%>
		<% end %>
<%else%>
	<div class="hero-unit span12 pagination-centered">
		<h1>Hello! </h1>
		<p>Sing up to create your personal To-Do List, and see who needs help.</p>
		<p><a href="users/sign_up" class="btn btn-primary btn-large">Sing up</a></p>
	</div>
<%end%>
<script>
$(document).ready(function() {
	$('.collapse.in').collapse('hide');
});
</script>
