<!DOCTYPE html>
<html>
<head>
<title>ToDoList</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-default">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="/">To-Do List</a>
			<div class="nav-collapse navbar-responsive-collapse collapse" style="height: 0px;">
				<ul class="nav">
						<% if user_signed_in? %>
							<li class="active"><a href="/tasks">To-Do</a></li>
							<li class="divider-vertical"></li>
							<li><a><%= current_user.email %></a></li>
							<li class="divider-vertical"></li>
							<li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
							<li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
						<% else %>
							<li class="divider-vertical"></li>
							<li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> </li>
							<li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
						<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>
<% if notice %>
	<p class="alert alert-success"><%= notice %></p>
  <% end %>
<% if alert %>
	<p class="alert alert-danger"><%= alert %></p>
	<% end %>

<%= yield %>

</body>
</html>
